:root {
  --doc-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
}

.login-page {
  height: 100vh;
  height: var(--doc-height);
  position: relative;
  /* overflow: hidden; */
  touch-action: pan-y;
  display: flex;
  align-items: end;
}

.bg-img {
  object-fit: cover;
  object-position: bottom right;
  min-height: 100%;
  min-width: 100%;
}

.login-form {
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

.form-container {
  /* position: absolute; */
  /* bottom: 0; */
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-field {
  background: transparent;
  border-radius: 0;
  text-align: center;
  border: none;
  font-size: 20px;
  box-shadow: none;
  font-weight: 600;
}

.input-field:focus {
  outline: none;
}

.input-field:hover {
  border-bottom: 3px solid #000;
}

.login-btn {
  background: rgba(255, 0, 0, 0.5);
  background: transparent;
  border: none;
  cursor: pointer;
}

.error-message {
  white-space: nowrap;
  overflow: hidden;
  background: yellow;
  color: rgb(91, 20, 29);
  border-radius: 3px;
  position: absolute;
  right: 30px;
  bottom: 70%;
  transition: 0.1s;
  font-size: 14px;
}

.error-message.active {
  border: 1px solid #fff;
  padding: 20px;
}
